{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Maze Game
{% endblock title %}

{% block styles %}
    <link href="{% static "maze_timing/style.css" %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <h2>Complete the maze in the time given.</h2>
    <canvas width="616" height="556" id="mazecanvas">Can't load the maze game, because your browser doesn't support HTML5.</canvas>
    <noscript>JavaScript is not enabled. To play the game, you should enable it.</noscript>

    <button id="next-button" class="otree-btn-next btn btn-primary d-none">Next</button>

    <div>
        <input type="hidden" name="time" id='time' value="0">
    </div>
{% endblock content %}

{% block scripts %}
    <script>
    const MAZE_IMG_PATH = "{% static 'maze_timing/20_20_maze.png' %}";

    </script>
    <script src={% static 'maze_timing/maze.js' %}></script>
{% endblock scripts %}
